@model IEnumerable<ToDoMVC.Model.Work>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>
<p> @Html.ActionLink("Create New Work", "Create")</p>


<table class="table">

    <thead>
        @Html.DisplayNameFor(model => model.Name)
        @Html.DisplayNameFor(model => model.TimeToDo)
    </thead>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(model => item.Name)

    </td>
    <td>
        @Html.DisplayFor(model => item.TimeToDo)

    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }
</table>

<p> @Html.ActionLink("Back to Categories", "Index", "Categories") </p>